body{
    margin: 0;
}

.yellow{
    background-color: yellow;
    height: 100px;
}
.green{
    background-color: green;
    height: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.red{
    background-color: red;
    height: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}